*.pyc
*.pyo
*.swp
*pgpass*
.DS_Store
.DS_Store?
.Spotlight-V100/
.Trashes/
._*
.coverage
.directory
.doctrees/
.mypy_cache/
.pytest_cache/
.ruff_cache/
/docs/_build/
/django_base/
/htmlcov/
/manage.py
/node_modules/
/packages/
/yarn-error.log
__pycache__/
build/
dist/
parser.out
